
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>

    <link rel="stylesheet" href="~/Areas/Sales/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Sales/Scripts/StyleSheet.css" />
</head>
<body>
    <div class="">
        <div class="container">
            <div class="row mt-5">
                <div class="col-4 offset-4">
                    <div class="card">
                        <h2 class="card-title font mt-3 text-center">Change password</h2>
                        <hr>
                        <label class="text-dark mx-3 mt-2">Old password:</label>
                        <input type="password" placeholder="Old password" class="outlinenone" />

                        <label class="text-dark mx-3 mt-2">New password:</label>
                        <input type="text" placeholder="New password" class="outlinenone" />

                        <label class="text-dark mx-3 mt-2">Confirm password:</label>
                        <input type="password" placeholder="Confirm password" class="outlinenone" />

                        <div class="pb-3 text-center">
                            <a class="btn btn-link mt-3" href="/Sales/SalesTracker">Cancel</a>
                            <button class="btn btn-primary mt-3">Change password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
